
.side-pane {
    margin: 18px;
}

.category {
    margin-top: 8px;
    margin-bottom: 8px;
}
.category image {
    margin-right: 8px;
    margin-left: 8px;
}

.app-item image {
    margin: 8px;
}

.results-pane {
    margin: 18px;
}

.results-header {
    margin-bottom: 18px;
}

.results-header image {
    margin-right: 8px;
}